*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: inherit;
  font-family: "Be Vietnam", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5; }

h1 {
  line-height: 1.125; }

h2 {
  line-height: 1.25; }

.container {
  max-width: 96rem;
  margin: 0 auto; }

.hero {
  margin-bottom: 6rem;
  display: flex; }
  .hero__aside {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    .hero__aside > * {
      margin-bottom: 3rem; }
  .hero__illustration {
    flex: 0 0 50%; }
  .hero__heading {
    font-size: 5rem;
    color: #242d52; }
  .hero__text {
    color: #9095a7;
    font-weight: 400;
    width: 65%; }
  .hero__image {
    display: block;
    width: 100%; }

.btn {
  font-size: 1rem;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  color: #fafafa;
  display: inline-block;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 100px;
  text-transform: capitalize;
  transition: all .2s; }
  .btn--primary {
    background-color: #f25f3a;
    box-shadow: 0px 5px 5px rgba(244, 119, 87, 0.5); }
    .btn--primary:hover {
      opacity: .75; }
  .btn--secondary {
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(29, 30, 37, 0.4);
    border-bottom: 2px solid #d9d9d9;
    color: #f25f3a; }
    .btn--secondary:hover {
      color: #f79a82; }
  .btn--box-shadow-none {
    box-shadow: none; }
  .btn--animated:hover {
    transform: translateY(-5px); }

.testimonial {
  flex: 0 0 32%;
  padding: 1rem 4rem;
  background: #fafafa;
  position: relative;
  margin-bottom: -1rem; }
  .testimonial > * + * {
    margin-bottom: 1.5rem; }
  .testimonial__user-avatar {
    top: -4rem;
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 6rem;
    margin-bottom: -1.5rem; }
  .testimonial__user-name {
    font-size: 1.6rem;
    font-weight: 700;
    color: #242d52; }
  .testimonial__user-testimonial {
    font-size: 1.4rem;
    word-spacing: 1px;
    line-height: 1.8;
    font-weight: 300;
    color: #9095a7; }
  .testimonial--hidden {
    display: none; }

.form__input {
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  border: 2px inset #1d1e25;
  display: inline-block;
  padding: .8rem 1.5rem;
  border-radius: 100px;
  margin-right: .5rem; }

.header {
  padding: 4rem 0;
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__list {
    display: flex;
    list-style: none; }
  .header__list-item {
    margin-right: 3rem;
    transition: all .2s; }
  .header__link, .header__link:active, .header__link:visited {
    font-size: 1.2rem;
    text-decoration: none;
    color: #242d52;
    font-weight: 700;
    vertical-align: top; }
  .header__link:hover {
    color: #9faad5; }

.footer {
  height: 22rem;
  background-color: #1d1e25;
  padding: 5rem 0; }
  .footer__flex {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  .footer__logo {
    fill: #fff; }
  .footer__socials {
    display: inline-flex;
    justify-content: space-between; }
  .footer__icon {
    width: 2rem;
    height: 2rem; }
  .footer__item {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
  .footer__nav {
    color: #fff; }
  .footer__list {
    list-style: none; }
  .footer__link, .footer__link:active, .footer__link:visited {
    display: inline-block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: inherit;
    text-decoration: none; }
  .footer__link:hover {
    color: #f25f3a; }
  .footer__copyright {
    text-align: right;
    font-size: 1.3rem;
    color: #9095a7; }

.about {
  font-size: 1.4rem;
  padding-top: 6rem;
  margin-bottom: 6rem; }
  .about__flex {
    display: flex; }
  .about__description {
    flex: 0 0 50%; }
  .about__heading {
    font-size: 3.5rem;
    color: #242d52;
    font-weight: 700;
    margin-bottom: 3rem; }
  .about__text {
    width: 60%;
    color: #9095a7;
    font-weight: 400; }
  .about__list {
    flex: 0 0 50%; }
  .about__list-item {
    display: flex;
    margin-bottom: 3rem; }
  .about__list-title {
    color: #242d52;
    padding-top: .5rem;
    margin-bottom: 2rem; }
  .about__list-number {
    font-weight: 700;
    color: #fff;
    display: inline-block;
    margin-right: 2rem;
    padding: .7rem 2rem;
    border-radius: 100px;
    background-color: #f25f3a; }
  .about__list-text {
    color: #9095a7;
    font-weight: 400; }

.testimonials {
  padding: 6rem 0;
  margin-bottom: 6rem;
  overflow-x: hidden;
  text-align: center; }
  .testimonials-heading {
    font-size: 3.5rem;
    color: #242d52;
    margin-bottom: 8rem; }
  .testimonials-box {
    display: flex;
    justify-content: space-evenly;
    margin-left: -20rem;
    margin-right: -20rem;
    margin-bottom: 6rem; }

.call-to-action {
  background-image: url(../../images/bg-simplify-section-desktop.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f25f3a;
  padding: 5rem 0; }
  .call-to-action__flex {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .call-to-action__title {
    color: #fff;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.2; }
