.footer {
    height: 22rem;
    background-color: $very-dark-blue;
    padding: 5rem 0;
    position: relative;

    @include respond(tab-small){
        height: auto;   
        padding: 5rem 0rem;
    }


    &__flex {
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include respond(tab-small){
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    &__logo {
        fill: #fff;

        @include respond(tab-small){
            order: 1;
            align-self: center;
            margin-bottom: 4rem;
        }
    }

    &__social {
        display: flex;
        justify-content: space-between;

        @include respond(tab-small){
            margin-bottom: 4rem;
            width: 70%;
            align-self: center;
        }

        @include respond(phone) {
            width: 100%;
        }
    }

    &__social-link {
        
    }

    &__icon {
        fill: #fff;
        width: 20px;
        height: 20px;

        &:hover {
            fill: $bright-red;
        }
    }


    &__item {
        align-self: stretch;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @include respond(tab-small){
            text-align: center;
            align-self: center;
            width: 80%;
        }
    }

    &__nav {
        flex: 0 0 35%;
        display: flex;
        justify-content: space-between;
        color: #fff;

        @include respond(tab-small){
            width: 70%;
            justify-content: space-around;
            margin-bottom: 4rem;
        }
       
    }

    &__list {
        list-style: none;
        display: inline-block;
        // margin-right: 3rem;
    }

    &__list-item {
    }

    &__link,
    &__link:active,
    &__link:visited {
        display: inline-block;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        color: inherit;
        text-decoration: none;
    }

    &__link:hover {
        color: $bright-red;
    }


    &__copyright {
        text-align: right;
        font-size: 1.2rem;
        color: $dark-rayish-blue;

        @include respond(tab-small){
            text-align: center;
            bottom: 3rem;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            
        }
    }

}