.header {
    height: 10rem;
    margin-bottom: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port){
        height: 12rem;
        padding: 0 3rem;
    }

    @include respond(phone){
        margin-bottom: 2rem;
    }


    &__logo {
        // display: inline-block;
        // vertical-align: middle;
    }
}