.navigation {

    &__list {
        display: flex;
        list-style: none;
    }

    &__list-item{
        margin-right: 3rem;
        transition: all .2s;
    }
    
    &__link,
    &__link:active,
    &__link:visited {
        font-size: 1.2rem;
        text-decoration: none;
        color: $dark-blue;
        font-weight: 700;
        vertical-align: top;
    }

    &__link:hover {
        color: lighten($dark-blue, 50);
    }

    &__checkbox {
        display: none;
    }

    &__button {
        display: none;
        order: 1;
    }

    &__icon {
        width: 2.5rem;
        height: 2.5rem;

        &--hidden {
            display: none;
        }
    }

    &__background {
        display: none;
    }
}