/*
MEDIA QUERY MANAGER
[0 - 600]      Phone
[600 - 968]    Tablet portrait
[968 - 1200]   Tablet landscape
[1200 - 1800]  is where our normal styles apply
[1800 - +]     Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone-small {
        @media only screen and (max-width: 23.4375em) { @content };    //375px
    }
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tab-small {
        @media only screen and (max-width: 48em) { @content };     // 768px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 60.5em) { @content };     //968px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}