// Primary colors
$bright-red: hsl(12, 88%, 59%);
$bright-red-shadow: hsla(12, 88%, 65%, 0.5);
$dark-blue: hsl(228, 39%, 23%);

//Neutral colors
$dark-rayish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-dark-blue-shadow: hsla(233, 12%, 13%, 0.4);
$very-pale-red: hsl(13, 100%, 96%);
$very-light-gray: hsl(0, 0%, 98%);

$light-bg-color: transparent;
$dark-bg-color: rgba(0, 0, 0, 0.3);

//Font variables
$font-family: "Be Vietnam", sans-serif;
$font-weight-light: 400;
$font-weight-ligther: 500;
$font-weight-bold: 800;

$font-line-height-sm: 1.8;
