.form {
  @include respond(tab-small) {
    margin-bottom: 4rem;
  }

  &__control {
  }

  &__input {
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: 2px inset $very-dark-blue;
    display: inline-block;
    padding: 0.8rem 1.5rem;
    border-radius: 100px;
    margin-right: 0.5rem;

    @include respond(tab-small) {
      width: 60%;
    }
  }
}
