@keyframes moveInBottom {
	0% {
		transform: translateY(-50rem);
    }

    50% {
        transform: translateY(0);
    }

    70% {
        transform: translateY(-1rem);
    }
    
	100% {
        transform: translateY(0);
	}
}

@keyframes moveInUp {
    0% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(-2rem);
    }
    
    70% {
        transform: translateY(0);
    }
    
	100% {
        transform: translateY(-50rem);
	}
}