*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    // outline: 1px solid orange;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: inherit;
    font-family: $font-family;
    font-size: 1.6rem;
    line-height: 1.5;
}

h1 {
    // font-size: 3.6rem;
    line-height: 1.125;
}

h2 {
    // font-size: 2.4rem;
    line-height: 1.25;
}

.container {
    max-width: 96rem;
    margin: 0 auto;
}